---

---

<footer class="site-footer">
  <div class="footer-inner">
    <span
      >Josh Fernandes &mdash; <a href="mailto:joshfernandes@mac.com"
        >joshfernandes@mac.com</a
      ></span
    >
    <div class="footer-links">
      <a href="https://github.com/jmfernandes" target="_blank" rel="noopener"
        >GitHub</a
      >
      <a
        href="https://twitter.com/joshmfernandes"
        target="_blank"
        rel="noopener">Twitter</a
      >
      <a href="/rss.xml">RSS</a>
    </div>
  </div>
</footer>
